@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.section-navigation, .section-booking{
    width: 100%;
    background-color: #F8F8F8;
}
.nav a{
    font-family: 'Mon Reg';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 24px;
    color: #2E134E;
    border-bottom: 1px solid rgba(0, 0, 0, 0);

    transition: all ease 0.3s;
}
.st, .dat{
    width: 20rem;
}
.bron{
    width: 40rem;
}
.nav a:hover{
    font-family: 'Mon Med';
    font-weight: 500;
    border-bottom: 1px solid #FA0568;
}
.nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.line-1{
    width: 100%;
    border: 1px solid #68329C;
}
.navigation{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.booking h1{
    font-family: 'Mon Bold';
    color: #663397;
    font-size: 2.5rem;

    padding-top: 35px;
}
.form-booking{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-booking{
    padding-top: 40px;
}
.flex-booking p{
    font-family: 'Mon Sem';
    font-size: 2rem;
    color: #2E134E;
}
.flex-booking{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form label{
    font-family: 'Mon Sem';
    font-size: 1.4rem;
    color: #2E134E;
    padding-bottom: 15px;
}
.price h3{
    font-family: 'Mon Sem';
    font-size: 1.3rem;
    color: #2E134E;
}
.btn-1 button, .btn-2 button{
    font-family: 'Mon Bold';
    font-size: 1rem;
    color: #F8F8F8;
    cursor: pointer;

}



.booking{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .reg-adr{
    width: 100%;
    display: flex;
    justify-content: space-between;
} */
.stolb{
    display: flex;
    justify-content: center;
    width: 100%;
}
.reg form, .date form, .price form, .adr form, .col form, .dop form{
    display: flex;
    flex-direction: column;
}
.price h1{
    font-family: 'Mon Sem';
    font-size: 4rem;
    color: #2E134E;
    padding-top: 15px;
}
.reg-dat-pr{
    padding-right: 150px;
}
.comm form{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 60px;
}
.em-pr{
    padding-top: 40px;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
}
.em form{
    padding-left: 60px;
    display: flex;
    flex-direction: column;
}
.section-booking{
    padding-bottom: 80px;
}

.section-footer{
    background: #525252;
    width: 100%;
}
.footer a{
    font-family: 'Mon Reg';
    color: #F8F8F8;
    font-size: 1rem;
}
.foot-1{
    display: flex;
    flex-direction: column;
}
.foot-right{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer{
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form select option{
    color: black;
    font-size: 1rem;
}


@media screen and (max-width: 480px){
    .container{
        width: 100%;
    }
    .navigation{
        flex-direction: column;
    }
    .nav{
        padding-top: 15px;
        width: 80%;
    }
    .nav a{
        font-size: 0.9rem;
    }
    .st, .dat{
        padding-right: 80px;
    }
    .booking h1{
        font-size: 1.6rem;
        text-align: center;
    }
    /* .form-booking{
        flex-flow: wrap;
    } */
    .flex-booking p{
        font-size: 1.4rem;
        padding-top: 30px;
    }
    form select, form input{
        width: 360px;
        font-size: 0.7rem;
    }
   
    form textarea{
        width: 86%;
        font-size: 0.7rem;
    }
    form label{
        font-size: 1rem;
    }
    .flex-booking{
        align-items: center;
    }
    .stolb{
        flex-direction: column-reverse;
        align-items: center;
    }
    .reg-dat-pr{
        padding: 0;
    }
    .em-pr{
        width: 100%;
        flex-direction: column;
    }
    .em form{
        padding: 0;
    }
    .btn-1 button{
        font-size: 0.7rem;
        padding: 14px 45px;
    }
    .btn-2 button{
        font-size: 0.9rem;
        padding: 14px 45px;
    }
    .comm form{
        padding-top: 30px;
    }
    .footer{
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer a{
        font-size: 0.6rem;
    }
    .foot-right{
        width: 150px;
    }

}











@import "../fonts/fonts.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-title-color: ;
    --main-text-color: #e7efa1;
    --link-color: ;
    --btn-color: ;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    font-family: 'Sans';
    font-weight: 700;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.row {
    width: 100%;
    flex-wrap: wrap;
}

.mt-1 {
    margin-top: 1rem; 
}

.mt-3 {
    margin-top: 2rem; 
}

.mt-4 {
    margin-top: 2.7rem; 
}

.mt-big {
    margin-top: 4.7rem; 
}

.w-100 {
    width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
    flex: 0 0 auto;
}

.col-6 {
    width: 50%;
    flex: 0 0 auto;
}

.col-3 {
    width: calc(100% / 4);
    flex: 0 0 auto;
}

.col-5 {
    width: 43.333333333%;
    flex: 0 0 auto;
}

.col-4 {
    width: calc(100% / 3);
    flex: 0 0 auto;
}

.align-cent {
    align-items: center;
}

.align-end {
    align-items: end;
}

.jcsb {
    justify-content: space-between;
}

.jcc {
    justify-content: center;
}

.header {
    box-shadow: 2px 2px 30px 2px rgba(2, 96, 178, 0.5);
    border-radius: 0 0 6px 6px;
    background-color: #f0f0f0;
    position: fixed;
    width: 100%;
}

.header .container {
    z-index: 3;
}

.logo {
    background: url(../imgs/for_logo/n.png) center no-repeat;
    background-size: cover;
    height: 75px;
    width: 75px;
    z-index: 3;
}

.wrapper {
    height: 100vh;
    background: linear-gradient(rgba(256, 256, 256, 0.3), rgba(256, 256, 256, 0.7)),
    url(../imgs/location/18.jpg);
    background-size: cover;
}

.nav {
    gap: 1.5rem;
    z-index: 3;
}

.nav li {
    list-style: none;
}

.nav li a {
    color: var(--main-text-color);
}

.main_screen .col-12 {
}

.title {
    font-size: 3.125rem;
    font-family: 'Monts';
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to right, rgb(142, 165, 227), #a489d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc {
    font-size: 1.5rem;
    font-family: 'Sans';
    font-weight: 700;
    text-align: center;
    padding: 0 10%;
    margin-top: .3rem;
    background: linear-gradient(to right, #856fd4, #6b59d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btns {
    margin-top: 1.2rem;
    gap: 1.5rem;
}

.btn {
    cursor: pointer;
    width: 230px;
    background: linear-gradient(to right, #2972ae, #007fff);
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem 0;
    border-radius: 16px;
}

#c2 {
    display: flex;
    min-height: 88%;
    align-items: center;
}

.how_to_rent {
    padding: 6.25rem 0;
}

.title-sm {
    font-size: 2.5rem;
}

.desc-sm {
    font-size: 1rem;
    padding: 0 13.5%;
}

.steps {
    width: 650px;
    overflow-x: scroll;
    gap: 40px;
    scroll-snap-type: x mandatory;
    padding: 1rem;
}

.step {
    margin-top: 3rem;
    min-width: 500px;
    background: linear-gradient(90deg, #b9deed, #efefef);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 2px 2px 10px 2px rgba(0, 90, 171, .5);
    scroll-snap-align: center;
}

.step-img img {
    width: 75px;
    height: 50px;
}

.info_about_company {
    padding: 6.25rem 0;
    background: linear-gradient(to right, #b9deed, #ccf2ff);
}



.info_about_company .row .col-6 .desc-sm {
    padding: 0;
    text-align: start;
}

#vol {
    font-size: 1.5rem;
}

.user-avatar {
    height: 30px;
    width: 30px;
}

.user-avatar img {
    width: 100%;
}

.grid-rev {
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(12, 65px);
    gap: 40px 0;
}

.review {
    background-color: #f0f0f0;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 2px rgba(0, 90, 171, .5);
    padding: 1.5rem 3rem;
}

.user-name {
    font-size: 1rem;
    font-family: 'Monts';
    font-weight: 400;
    text-align: center;
    background: linear-gradient(to right, #2972ae, #007fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: .5rem;
}

.grid-rev .desc-sm, .grid-rev .title-sm{
    padding: 0;
    text-align: start;
}

.review .title {
    font-size: 2rem;
    margin-top: 1rem;
}

.review .desc-sm {
    font-size: .9rem;
    margin-top: 1rem;
}

#rev1 {
    grid-row: 1/4;
    grid-column: 1/9;
}

#rev2 {
    grid-row: 4/7;
    grid-column: 6/13;
}

#rev3 {
    grid-row: 7/10;
    grid-column: 1/9;
}
#rev4 {
    grid-row: 10/13;
    grid-column: 6/13;
}

.form_search {
    padding: 6.25rem 0;
}

.select-control {
    outline: none;
    padding: 1.25rem;
    font-size: 1.25rem;
    border-radius: 8px;
    border: 1px solid rgba(0, 90, 171, .5);
    box-shadow: 2px 2px 10px 2px rgba(0, 90, 171, .5);
    background: linear-gradient(to right, #2972ae, #007fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Sans';
    font-weight: 700;
    -webkit-appearance: none;
}

.form-control {
    outline: none;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 8px;
    border: 1px solid rgba(0, 90, 171, .5);
    box-shadow: 2px 2px 10px 2px rgba(0, 90, 171, .5);
    background: linear-gradient(to right, #2972ae, #007fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Sans';
    font-weight: 700;
}

.btn-sub {
    cursor: pointer;
    width: 360px;
    background: linear-gradient(to right, #a6a8e9, #ae9bd7fc);
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-radius: 16px;
    outline: none;
    font-size: 1.25rem;
    border: none;
    font-family: 'Sans';
    font-weight: 700;
    align-self: center;
}

.stocks {
    padding: 6.25rem 0;
    background: linear-gradient(to right, #b9deed, #ccf2ff);
}

.stock {
    align-items: center;
    flex-wrap: wrap;
}

.stock-image img {
    width: 100%;
}

.stock-text .title {
    text-align: center;
    font-size: 2rem;
    padding: 0 5%;
}

.stock-body {
    margin-top: 2.5rem;
}

.stock-link {
    margin-top: 2.25rem;
    align-self: center;
}

.div-line {
    height: 2px;
    width: 100%;
    justify-self: center;
    background: linear-gradient(to right, #2972ae, #07c5c5);
    margin: .5rem 0;
}


.advantages ul li {
    list-style-type: '→';
}

.prom2 {
    background: url(../imgs/promotions/promotion2.jpg) center no-repeat;
    height: 585px;
    background-size: cover;
}

.prom3 {
    background: url(../imgs/promotions/promotion3.jpg) center no-repeat;
    height: 585px;
    background-size: cover;
}

.form_sub {
    padding: 6.25rem 0;
}

.form_sub .container {
    background: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .4)), url(../imgs/people/2.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 16px;
    padding: 5rem 3rem;
}

.form_sub .title {
    color: #f0f0f0;
    background: none;
    -webkit-text-fill-color: #f0f0f0;
    text-align: center;
}

.form_sub .btn-sub {
    margin-top: 1.5rem;
}

.form_sub .form-control {
    background: #f0f0f0;
    width: 65%;
    box-shadow: none;
    color: #2972ae;
    align-self: center;
    margin-top: 1.5rem;
    -webkit-text-fill-color: #2972ae;
}



.tel-link {
    font-family: 'Sans';
    font-weight: 700;
    text-decoration: underline;
    color: #2972ae;
}

.footer-link {
    color: #2972ae;
    margin-top: .5rem;
    position: relative;
}

.footer-link::after {
    position: absolute;
    content: '';
    background: linear-gradient(to right, #4429ae, #684fad);
    width: 100%;
    height: 2px;
    border-radius: 6px;
    opacity: 0;
    bottom: -5px;
    right: 0;
    transition: .3s cubic-bezier(.13, .26, .55, .52);
}

.footer-link:hover::after {
    opacity: 1;
    transition: .3s ease;
}

header {
    flex-grow: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100vh;
    flex-grow: 1;
}

footer {
    flex-grow: 0;
}

.result-pics {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.h-50 {
    height: 50%;
    display: flex;
    justify-content: center;
}

.h-50 img {
    width: 100%;
    border-radius: 6px;
}

.results {
    padding: 6.25rem 0;
    margin-top: 8em;
}

.result-card {
    background: linear-gradient(to right, #b9deed, #ccf2ff);
    border-radius: 12px;
    padding: 1.5rem;
}

.result-text .title {
    font-size: 1.75rem;
    text-align: start;
    padding: 0 0 0 1.5rem;
}

.result-text .desc {
    text-align: start;
    padding: 0 0 0 1.5rem;
    margin-top: 1.5rem;
    font-family: 'Monts';
    font-weight: 400;
}

.price {
    font-size: 1.3rem;
    font-family: 'Monts';
    font-weight: 700;
}

.results .btns {
    margin-left: 1.5rem;
    justify-content: space-around;
}

.choose-zone {
    padding: 6.25rem 0;
}

.choose-zone .container {
    background: url(../imgs/plan/1.jpg) no-repeat;
    background-size: cover;
    height: 1000px;
    margin-top: 1.5rem;
    border-radius: 12px;
}

.choose-zone .btn {
    padding: 1rem 0;
}

.booking {
    padding: 6.25rem 0;
}

.booking label {
    width: 47%;
    font-family: 'Monts';
    font-weight: 700;
}
.booking .form-control, .booking .select-control {
    margin-top: .5rem;
}

._price {
    margin-top: 2rem;
    font-family: 'Monts';
    font-weight: 700;
    font-size: 2rem;
}

.booking .price {
    font-size: 2.5rem;
}

.label {
    display: flex;
    align-items: center;
}

.label input[type=radio] {
    display: none;
}

.label .fake {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #2972ae;
    position: relative;
    display: inline-block;
}

.label .fake::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9ec5e5;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: 0;
    transition: .3s cubic-bezier(.13, .21, .55, .78);
}

.label .text {
    margin-left: .5rem;
}

input[type=radio]:checked + .fake::before {
    opacity: 1;
    transition: .3s cubic-bezier(.13, .21, .55, .78);
}

.booking textarea {
    border-radius: 12px;
    height: 150px;
    background: transparent;
    border: 1px solid #2972ae;
    box-shadow: 2px 2px 30px 2px rgb(127, 188, 241);
    padding: 1.5rem;
    outline: none;
    font-family: 'Sans';
    font-weight: 700;
    font-size: 1rem;
}

.col-6 ._price {
    margin-top: 0;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 8px;
    }
    .container {
        width: 400px;
    }
    .col-3, .col-4, .col-5, .col-6 {
        width: 100%;
        margin-top: 1rem;
    }
    .grid-rev {
        display: flex;
        flex-direction: column;
    }
    .bb {
        height: 160px;
    }
    .user-avatar img {
        height: 20px;
    }
    .steps {
        width: 400px;
    }
    .step {
        min-width: 320px;
    }
    .btn {
        width: 160px;
    }
    .form_search .title{
        padding: 0 5%;
    }
    .prom2, .prom3 {
        height: 400px;
    }
    .stock {
        flex-direction: column;
    }
    .stock-image {
        order: -1;
    }
    .form_sub .btn-sub {
        width: 230px;
    }
    .form_sub .form-control {
        width: 75%;
    }
    .footer .container {
        flex-direction: column;
    }
    .footer-link {
        margin-top: 1rem;
    }
    .footer .logo {
        width: 50px;
        height: 50px;
    }
}